<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header class="main-header">
        <nav class="header-nav">
            <ul class="nav-list">
                <li class="list-items"><a href="/">Shop</a></li>
                <li class="list-items"><a href="/admin/add-product" class="active">Add Product</a></li>
                <li class="list-items"><a href="/contactus">Contact Us</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Form Successfuly Filled</h1>
    </main>
</body>
</html>