body {
    margin: 0px;
    padding: 0px;
}

.main-header {
    width: 100%;
    height: 3.5rem;
    background-color: yellowgreen;
    padding: 0 1.5rem;
}

.header-nav {
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.list-items {
    margin: 1rem;

}

.list-items a {
    text-decoration: none;
    color: black;
}

.list-items a:hover,
.list-items a:active,
.list-items a.active {
    color: blue;
}

.product-form{
    width: 20rem;
    max-width: 90%;
    margin: auto;
}
.form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control input {
    display: block;
}

.form-control input {
    border: 1px solid #273a01;
    font: inherit;
    border-radius: 4px;
}

button {
    font: inherit;
    border: 1px solid rgb(27, 27, 25);
    border-radius: 4px;
    cursor: pointer;
}

button:hover,
button.active{
    border-color: blue;
    background-color: #270fff;
    color: white;
}